<section>
  <div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
    <div class="card-head">
      <div class="card-title">
        <h1>Pedidos</h1>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Título</th>
            <th>Status</th>
            <th>Usuário</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @pedidos.each do |pedido| %>
            <tr>
              <td><%= pedido.titulo %></td>
              <td><%= pedido.status %></td>
              <td><%= pedido.user.nome %></td>

              <td><%= link_to pedido, title: "Detalhes" do %><i class="fas fa-info text-danger"></i><% end %></td>

              <% if current_user.admin %>
                <td><%= link_to edit_pedido_path(pedido), title: "Editar" do %><i class="fas fa-pen text-danger"></i><% end %></td>
              <% end %>

              <% if pedido.status == "aberto" %>
                <td><%= link_to pedido, method: :delete, data: { confirm: 'Você tem certeza?' }, title: "Apagar" do %><i class="fas fa-times text-danger"></i><% end %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>