<section>  
  <div class="card bg-white text-danger mt-3 mb-3 px-1 pt-3 pb-4 pl-4 pr-4 shadow">
    <div class="card-head">
      <div class="card-title">
        <h1><%= @categoria.nome %></h1>
      </div>
    </div>
    <div class="separado px-4">
      <% @sub_categorias.each do |sub_categoria| %>
      <h3><%= sub_categoria.nome %></h3>
      <% @produtos = Produto.where(sub_categoria: sub_categoria) %>
      <div class="container px-0">
        <div class="row">
          <% @produtos.each_with_index do |produto, i| %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-anuncio">
              <img class="card-img-top" src="<%= produto.imagem %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-text mt-1">
                  <%= link_to produto.nome, produto_path(produto) %>
                </h5>
                <p class="card-text produto-descricao"><%= produto.descricao %></p>
                <div class="row">
                  <div class="col-12">
                    <h2>
                      <span class="badge badge-danger btn-block"><%= produto.preco %> R$</span>
                    </h2>
                  </div>
                  <div id="col-carrinho<%= i %>" class="col-12">
                    <button id="mostrar-qtd<%= i %>" class="btn btn-success btn-block">Adicionar ao carrinho</button>
                  </div>
                  <div id="col-quantidade<%= i %>" class="col-12 d-none">
                    <!-- <form class="form-carrinho"> -->
                      <div class="row">
                        <div class="col-12">
                          <label for="qtd-produto<%= i %>" class="mb-0">Quantidade desejada</label>
                          <input type="number" class="form-control" id="qtd-produto<%= i %>">
                        </div>
                        <div class="col-12 mt-1">
                          <button type="button" id="enviar-carrinho<%= i %>" class="btn btn-success btn-block" onclick="enviarQuantidade(<%= produto.id %>)">Enviar</button>
                        </div>
                      </div>
                      <!-- </form>                     -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $(document).ready(function() {
                $("#mostrar-qtd<%= i %>").click(function() {
                  $("#col-carrinho<%= i %>").hide();
                  $("#col-quantidade<%= i %>").removeClass('d-none');
                });
              });

              function enviarQuantidade(id) {
                quantidade = $("#qtd-produto").val();

                $.ajax({
                  url: "/add_carrinho/"+id,
                  data:{
                    quantidade: quantidade
                  },
                  success: function(){
                    alert("Produto adicionado!");
                  }
                });
              }
            </script>            
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <%= render "pages/modal" %>
