
<%= simple_form_for(@produto) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :nome %>

    <%= f.association :sub_categoria, label_method: :nome, prompt: "Selecione o produto" %>

    <%= f.input :marca %>

    <%= f.input :cor %>

    <%= f.input :preco %>

    <%= f.input :garantia %>

    <%= f.input :peso %>

    <%= f.input :validade , required: true, start_year: Date.today.year, end_year: Date.today.year + 100,  prompt: {day: "Dia", month: "Mês", year: "Ano"} %>

    <%= f.input :modelo %>

    <%= f.input :imagem %>

    <%= f.input :descricao %>

    <%= f.input :quantidade %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
