<section>
  <div class="home-head jumbotron mt-4">
    <div class="container text-uppercase text-center">
      <h1 class="welcome">Code Again E-commerce</h1>
      <h4 class="welcome">Aqui tem tudo para informática e tecnologia em geral!</h4>
    </div>
  </div>

  <div class="container px-0">
    <div class="row">
      <% @produtos.each do |produto| %>
        <div class="col-12 col-md-4 col-lg-3">
          <div class="card card-anuncio">
            <img class="card-img-top" src="<%= produto.imagem %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mt-1"><a href="#"><%= produto.nome %></a></h5>
              <p class="card-text produto-descricao"><%= produto.descricao %></p>
              <div class="row">
                <div class="col-12">
                  <%= link_to "Detalhes", produto, class: "btn btn-secondary btn-block" %>
                </div>
                <div class="col-12 mt-1">
                  <%= link_to "Apagar", produto, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
