<section>
  <div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
    <div class="card-head">
      <div class="card-title">
        <%= @avaliacao.titulo %>
      </div>
    </div>

    <div class="card-body">
      <p>
        <strong>Descricao:</strong>
        <%= @avaliacao.descricao %>
      </p>

      <p>
        <strong>Nota:</strong>
        <%= @avaliacao.nota %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @avaliacao.user %>
      </p>

      <p>
        <strong>Produto:</strong>
        <%= @avaliacao.produto %>
      </p>
    </div>
    
    <div class="card-footer">
      <%= link_to 'Voltar', avaliacoes_path, class: "btn btn-danger" %>
    </div>
  </div>
</section>
