<p id="notice"><%= notice %></p>
<section>
  <div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
    <div class="card-head">
      <div class="card-title">
        <h1>Sub Categorias</h1>
      </div>
    </div>

    <div class="card-body">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sub_categorias.each do |sub_categoria| %>
            <tr>
              <td><%= sub_categoria.nome %></td>
              <td><%= sub_categoria.categoria %></td>
              <td><%= link_to 'Show', sub_categoria %></td>
              <td><%= link_to 'Edit', edit_sub_categoria_path(sub_categoria) %></td>
              <td><%= link_to 'Destroy', sub_categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="card-footer">
      <%= link_to 'New Sub Categoria', new_sub_categoria_path %>
    </div>
  </div>
</section>