<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="theme-dark">
    <div class="wrapper">
      <% if current_user %>
        <%= render "layouts/header" %>
      <% else %>
        <div class="container">
      <% end %>

        <% if notice %>
          <script>
            toastr["success"]("<%= notice %>");
          </script>
        <% end %>

        <% if alert %>
          <script>
            toastr["warning"]("<%= alert %>");
          </script>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
